<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                </a>
            <ul class="nav nav-pills" role="tablist">
                <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li><a href="/Cars/ListView">Машины</a></li>
                <li><a href="/Cars/ListView/electro">Электро</a></li>
                <li><a href="/Cars/ListView/fuel">Бензиновые</a></li>
                <li><a href="/ShopCart/">Корзина</a></li>
            </ul>
            <p>
                <a asp-action="Create" asp-controller="Cars">Create New</a>
            </p>
            </div>
     </div>
    </header>
</body>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="container">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">© 2022 Shop Store</span>
        </div>
    </footer>
</body>
</html>
